<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title><!-- <base href="/"> -->
    <base href="/admin/">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="~/Areas/Admin/cp/styles.5868559892539b6b8697.bundle.css" rel="stylesheet" />
</head>
<body>
    <ui-view><div id="page-preloader"><span class="spinner"></span></div></ui-view>
    <script type="text/javascript" src="~/Areas/Admin/cp/inline.5ab9b6da1e04086b446a.bundle.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/cp/polyfills.2127c6ab0a7135ebfd38.bundle.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/cp/main.479433833dc985b43598.bundle.js"></script>
</body>
</html>